# Environment files
.env
.env.*

# Logs files
*.log

# containers volumen and data generated
**/data/
**/tmp/
**/postgres-data/
**/keycloak-data/

# IDEs files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
